*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --clr-primary: #2b7c91;
    --clr-dark: #404040;
    --clr-light: #d7d7d7;
}

.photo {
    width: 100%;
    filter: grayscale(100%);
}

header {
    background-color: var(--clr-primary);
    text-align: center;
    color: white;
}

aside {
    background-color: var(--clr-primary);
    text-align: left;
    color: white;
    padding: 0 1em 0 3em;
}

h1, h2, h3, h4, h5 {margin: 0;}

/* Typo */

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 2.75rem;
    margin-top: 0.50em;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    /* padding-bottom: 2.5em; */
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2.5em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.data p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1em;
}

/* Sizes */

.field {
    float: left;
    width: 40%;
}

.data {
    width: 90%
}

.field p, .data p {
    border-top: 1px solid white;
    padding-top: 0.8em;
}

.field:last-child, .data p:last-child {
    border-bottom: 1px solid white;
    padding-bottom: 0.8em;
}

ul {
    width: 90%;
    padding: 0.8em 0 2em 1em;
    list-style: none;
    border-top: 2px solid white;
}

img { width: 2rem; }

li { display: flex; }

li p { padding-left: 2em; }






.bar-light {
    background-color: var(--clr-light);
}

.bar-dark {
    background-color: var(--clr-dark);
    width: 75%;
    height: 1rem;
}